<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text="${title}"></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Enable</th>
      <th>Role_user</th>
      <th>Action</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.user_id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.enabled}"></td>
      <td th:text="${user.role.name}"></td>
      <td><a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a> |
        <a th:href="@{/users/delete/{id}(id=${user.id})}"
           onclick="return confirm('Are You Sure?' )">Delete</a></td>
    </tr>
  </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>