<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List Role</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text="${title}"></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <tr th:each="role : ${roles}">
      <td th:text="${role.id}"></td>
      <td th:text="${role.name}"></td>
      <td><a th:href="@{/roles/edit/{id}(id=${role.id})}">Edit</a> |
        <a th:href="@{/roles/delete/{id}(id=${role.id})}"
           onclick="return confirm('Are You Sure Delete?' )">Delete</a></td>
    </tr>
  </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>